<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/css/styles.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}

    <title> {{ title}}</title>

    {% else %}

    <title>  The best News Highlights website </title>

    {% endif %}

</head>

<body>

    {% extends 'base.html' %}

    {% import 'macros.html' as macro %}
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    
    {% endblock %}

    <!-- Content Block-->
    {% block content%}
    <div class="container">
            {{ macro.displayNewsList(top) }}
    </div>
    {% endblock %}
</body>
</html>