<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link  text-warning" href="#" ><h3>News Highlights</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 " style = "margin-left:65%">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search"name="news_query" >
        <button class="btn btn-primary" type="submit" value="submit" >Search</button>
      </form>
    </nav>
    <img src="https://previews.123rf.com/images/lkeskinen/lkeskinen1802/lkeskinen180206794/95820237-highlights-rubber-stamp-grunge-design-with-dust-scratches-.jpg" width="80%" height="200px">
    </div>